*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
  
    background-image: url(img/intro-bg.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.overlay{
    color: white;
    height: 100vh;
    background-color:#111418cf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.navbar{ position: fixed;
    display: flex;
    justify-content: space-evenly;
    color: white;
    left: 0;
    right: 0;
    padding: 12px 1px;
    background-color:#111418da;
}

.links a{ padding: 0 10px;
    text-decoration: none;
color: white;
}

.links :hover{
    color: RGB(34, 189, 126);
}

.links .link{color: RGB(34, 189, 126);}

.home h1 {
    font-family: monospace;
    font-size: 65px;
}

.home p {
    font-size: 25px;
    font-family: monospace;
}       

.home button {
    margin-top: 15px;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 9%;
    background-color: transparent;
    border: 2px solid RGB(34, 189, 126);;
}

.home button:hover{
    background-color: RGB(34, 189, 126);
    color: white;
    transition: all 1s ease 0s;
}

















.watermark {
    width: 100%;
    position: absolute;
    opacity: 0.1;
    z-index: 99;
    color: #0000007a;
    font-size: 140px;
    text-align: center;
    font-family: fantasy;
}

.details {
    margin-top: 20px;
    text-align: center;
    padding-top: 6px;
}

.details h1 {
    font-family: monospace;
    margin-top: 73px;
    font-size: 37px;
}












.one {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.text{
    width: 55%;
}

.text h1{
  color:   RGB(37, 43, 51)
}

.text span{color:  RGB(34, 189, 126);}

.text p {
    color: RGB(85, 93, 99);
    margin-top: 18px;
    line-height: 35px;
    font-size: 18px;
}

.info {
    margin-top: 20px;
    color: RGB(93, 98, 106);
    margin-right: 75px;
}

.info h3{
    height: 40px;
}

.info button {
    height: 45px;
    width: 60%;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: RGB(34, 189, 126); ;
}

.two {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.first {
    text-align: center;
}

.first h1 {
    color: RGB(93, 98, 106);
    font-family: monospace;
    font-size: 59px;
    font-weight: 100;
    margin-bottom: 10px;
}

.first p{
    font-size: 18px;
}

















.all{
    padding-bottom: 70px;
    background-color: RGB(248, 249, 250);
}
.WhatIDo {
    margin-top: 100px;}

.three {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.third {
    margin-left: 30px;
    width: 50%;
}
.second {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 50%;
    margin-top: 50px;
}
.second img {
    width: 15%;
}

.third h2:hover{
    color: RGB(34, 189, 126);
}
















.Education {
    
    margin-left: 55px;
    margin-top: 114px;
}

.Education h2{
   color :RGB(37, 43, 51);
}

.un {
    border: 1px solid #80808047;
    margin-top: 30px;
    padding: 16px 26px;
    width: 88%;
}

.un .date {
    color: white;
    background-color: RGB(32, 201, 151);
    padding-left: 8px;
    border-radius: 7px;
    height: 27px;
    padding-top: 5px;
    margin-bottom: 13px;
}

.un h3 {
    color: RGB(220, 62, 83);
    margin-bottom: 20px;
}
.un h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.both{
    display: flex;
    justify-content: center;
}






.skill {
    margin-left: 115px;
    margin-top: 70px;
    color: RGB(37, 43, 51);
}
.all2 {
    display: flex;
    justify-content: center;
    margin-left: 45px;
    margin-top: 35px;
}

.bar {
    margin-top: 11px;
    height: 17px;
    width: 70%;
    color: white;
    text-align: center;
    background-color: RGB(32, 201, 151);
    margin-bottom: 11px;
    border-radius: 20px;
}

.bars h4{
    width: 10%;
}
.bars1 {
    width: 45%;
}


.btn {
    margin-left: 120px;
    color:  RGB(32, 201, 151);
   background-color:  white;
    margin-top: 25px;
    border: 2px solid  RGB(32, 201, 151);
    height: 30px;
    width: 20%;
    border-radius: 15px;
}

.btn:hover{
    background-color: RGB(32, 201, 151);
    transition: all 1s ease 0s;
    color: white;
}























.photo {
    margin-top: 50px;
    justify-content: center;
    font-size: 17px;
    display: flex;
}

.photo h4{
    color: RGB(122, 130, 137);
    margin-left: 25px;
}

.photo h4:hover{
   color:  RGB(32, 201, 151);
}


.pics{
    margin-top: 80px;
    display: flex;
    width: 100%;
}

.pics1{
    width: 100%;
}

.pics1 img{
    padding: 0px 23px;
    margin-bottom: 20px;
    width: 100%;
}

.pics2{
    width: 100%;
}

.pics2 img{
    padding: 0px 26px;
    margin-bottom: 20px;
    width: 100%;
}

.pics3{
    width: 100%;
}

.pics3 img{
    padding: 0px 26px;
    margin-bottom: 20px;
    width: 100%;
}




.pics1 img:hover{
    transition: all 1s ease 0s;
}


















.foot{
    margin-top: 35px;
display: flex;
justify-content: center;
}

.address {
width: 40%;
    margin-left: 40px;
    margin-top: 40px;
}



.note {
    width: 69%;
    margin-top: 40px;
}
.address p {
    font-size: 16px;
    width: 39%;
    margin-top: 20px;
    font-family: monospace;
}

.address h2{
    margin-top: 20px;
}
.note input{ 
    width: 37%;
    height: 30px;
    margin-top: 20px;
}

.note .info {
    width: 75%;
    height: 90px;
}

.note button {
    height: 45px;
    width: 25%;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: RGB(34, 189, 126);
    margin-top: 15px;
}



.copyright {
    margin-top: 30px;
    height: 150px;
    background: gainsboro;
}


.copyright p {
    padding: 60px 23px;}